* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: -6px;
}

/*
 *  Text animation
 */

.text-section {
    position: relative;
}

.text {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text-section .text:last-child {
    position: absolute;
    top: 0;
}

.light {
    color: #000;
    background: #fff;
}
    
.dark {
    color: #fff;
    background: #000;
}

.animate-dark-to-light {
    will-change: clip-path;
    animation: dark-to-light forwards 0.8s ease-in-out 0.8s;
}

@keyframes dark-to-light {
    from {
        clip-path: inset(0 0% 0 0);
    } to {
        clip-path: inset(0 100% 0 0);
    }
}

/*
 *  Sticky Scroller
 */
.sticky-scroller {
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 0;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: -1;
}

.absolute {
    position: absolute;
    top: 0;
}